* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.body-width {
    max-width: 1600px;
    margin: 0 auto;
}

/* Navbar Section Start */

.navbar-container {
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar-container h1 {
    margin: 10px 0px 10px 200px;
}

.navbar-container ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar-container ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

@keyframes move-button {
    from {
        left: 0px;
    }

    to {
        left: 150px;
    }
}

.navbar-container button {
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    color: rgba(255, 255, 255, 1);
    margin: 24px 200px 24px 0px;
    cursor: pointer;
    position: relative;
    animation: move-button 3s ease-in-out 1s infinite alternate;
}

.hamburger-menu {
    display: none;
}

/* Navbar Section End */

/* Banner Section Start */

.banner-container {
    background-image: url(./assets/hero-bg.png);
    max-width: 1600px;
    max-height: 760px;
    padding-bottom: 113px;
}

.new {
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    height: 38px;
    margin-left: 877px;
    margin-top: 113PX;
    padding: 8px 16px;
    border: none;
    border-radius: 1000PX;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.banner-img-container {
    text-align: center;
}

.hero-circle {
    margin-top: 100px;
    position: relative;
}

.img-microphone {
    position: absolute;
    margin-left: -230px;
    margin-top: 175px;
}

.banner-techwave {
    text-align: center;
    margin-top: 40px;
    
}

.banner-techwave h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 4.56rem;
}

.banner-techwave p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.18rem;
    margin: 8px 0px 24px 0px;
}

.banner-button-1 {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    margin-right: 8px;
    cursor: pointer;
}

.banner-button-2 {
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10000px;
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
}

/* Banner Section End */

/* About Section Start */

.about-container {
    padding: 50px 200px 120px 200px;
    background-color: rgba(26, 11, 46, 1);
}

.about-header-container {
    text-align: center;
}

.about-header {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin-bottom: 16px;
}

.about-text {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 79px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 1);
}

.about-cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.about-card h2 {
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.62rem;
    margin-bottom: 16px;
}

.about-card p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.25rem;
}

/* About Section End */

/* Why Choose Section Start */

    .why-choose-container {
        background-color: rgba(35, 14, 61, 1);
        padding: 120px 200px;
    }

    .why-choose-container h2 {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.62rem;
        margin-bottom: 40px;
    }

    #headphone {
        grid-area: headphone;
    }

    #device {
        grid-area: device;
    }

    #location {
        grid-area: location;
    }

    #zap {
        grid-area: zap;
    }

    #resource {
        grid-area: resource;
    }

    .why-choose-cards {
        display: grid;
        gap: 30px;
        grid-template-areas: 
            "headphone device device"
            "headphone location location"
            "zap       zap      resource";
    }

    .why-choose-card {
        padding: 40px;
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 40px;
    }

    .why-choose-card img {
        margin-bottom: 16px;
    }

    .why-choose-card h4 {
        margin-bottom: 16px;
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.81rem;
    }

    .why-choose-card p {
        color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        line-height: 1.5rem;
    }


/* Why Choose Section End */

/* Featured Section Start */

    .Featured-container {
        background-color: rgba(26, 11, 46, 1);
        padding: 120px 200px;
    }
    
    .Featured-container h2 {
        color: rgba(255, 255, 255, 1);
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.62rem;
        margin-bottom: 40px;
        text-align: center;
    }

    .featured-cards {
        display: flex;
        gap: 30px;
    }

    .featured-card iframe {
        max-width: 380px;
        max-height: 214px;
        border-radius: 24px 24px 0px 0px;
        vertical-align: middle;
    }

    .featured-card-details {
        background-color: rgba(37, 13, 68, 1);
        border-radius: 0px 0px 24px 24px;
        padding: 24px;
    }

    .featured-card-details h4 {
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.81rem;
        margin-bottom: 12px;
    }

    .featured-card-details-text {
        color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 12px;
    }

    .featured-card-details-time {
        color: rgba(0, 255, 136, 1);
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .featured-card-details-time img {
        max-width: 20px;
        max-height: 20px;
        padding: 1.67px;
        margin-right: 6px;
    }

/* Featured Section End */

/* Host Section Start */

.host-container {
    padding: 0px 200px 120px 200px;
    background-color: rgba(26, 11, 46, 1);
}

.host-container h2 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.62rem;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.host-details {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 48px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.host-details h4 {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.43rem;
    margin-bottom: 16px;
}

.host-details p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.host-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.host-icons img {
    border: 1px solid rgba(83, 60, 114, 1);
    max-width: 40px;
    max-height: 40px;
    padding: 10px;
    border-radius: 30%;
}

/* Host Section End */

/* Footer Section Start */

.footer-container {
    background-image: url(./assets/footer-bg.png);
    max-width: 1600px;
    max-height: 412px;
    background-color: blue;
    text-align: center;
    padding: 120px;
}



.footer-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    max-height: 24px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-card img {
    max-width: 24px;
    max-height: 24px;
}

.footer-card p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.18rem;
    margin-left: 8px;
}

.copy-right {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(250, 250, 250, 1);
}

/* Footer Section End */

/* Responsive Section Start */

@media screen and (max-width: 576px) {
    /* Navbar Section Start */

    .navbar-container h1 {
        margin-left: 0px;
        padding: 10px 0px 10px 20px;
    }

    .navbar-container h1 img {
        max-width: 200px;
        max-height: 50px;
    }

    .navbar-container ul,
    .navbar-container button {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding: 18px 18px 18px 0px;
    }

    /* Navbar Section End */

    /* Banner Section Start */

    .banner-container {
        padding-bottom: 40px;
    }

    .new {
        width: 70px;
        height: 35px;
        margin-left: 240px;
        margin-top: 190PX;
        padding: 8px 16px;
    }

    .hero-circle {
        max-width: 188px;
        max-height: 188px;
        margin-top: 180px;
    }

    .img-microphone {
        max-width: 80px;
        max-height: 80px;
        margin-left: -120px;
        margin-top: 240px;
    }

    .banner-techwave p {
        width: 400px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 24px;
    }

    /* Banner Section End */

    /* About Section Start */

    .about-container {
        padding: 40px 20px 0px 20px;
    }

    .about-text {
        padding-bottom: 39px;
    }

    .about-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .about-card p {
        margin-bottom: 40px;
    }

    /* About Section End */

    /* Why Choose Section Start */

    .why-choose-container {
        padding: 40px 20px;
    }

    .why-choose-container h2 {
        margin-bottom: 16px;
    }

    .why-choose-cards {
        gap: 16px;
        grid-template-areas: 
            "headphone"
            "device"
            "location"
            "zap"
            "resource";
    }

    /* Why Choose Section End */

    /* Featured Section Start */

    .Featured-container {
        padding: 40px 20px;
    }

    .Featured-container h2 {
        margin-bottom: 24px;
        font-size: 2rem;
        line-height: 2.43rem;
    }

    .featured-cards {
        flex-direction: column;
    }

    .featured-card iframe {
        max-width: 400px;
        max-height: 225px;
    }

    .featured-card-details {
        padding: 16px;
        max-width: 400px;
        max-height: 168px;
    }

    .featured-card-details h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 8px;
    }

    /* Featured Section End */

    /* Host Section Start */
    
    .host-container {
        padding: 0px 40px 20px 40px;
    }

    
    .host-container h2 {
        margin-bottom: 24px;
        font-size: 2rem;
        line-height: 2.43rem;
    }
    
    .host-details {
        flex-direction: column;
        text-align: center;
        padding: 24px;
        border-radius: 24px;
    }

    .host-icons {
        justify-content: center
    }


    /* Host Section End */

    /* Footer Section Start */

    .footer-container {
        padding: 40px 20px;
    }

    .footer-logo {
        max-width: 219px;
        max-height: 32px;
    }

    .footer-cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        max-height: 24px;
        margin-top: 32px;
        margin-bottom: 52px;
    }

    .footer-card {
        margin-bottom: 21px;
    }

    .copy-right {
        color: rgba(250, 250, 250, 1);
        font-size: 1rem;
        line-height: 1.5rem;
    }


    /* Footer Section Start */


    /* Responsive Section End */
}
