* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.body-width {
    max-width: 1600px;
    margin: 0 auto;
}

/* Navbar Section Start */

.navbar-container {
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar-container h1 {
    margin: 10px 0px 10px 200px;
}

.navbar-container ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar-container ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

@keyframes move-button {
    from {
        left: 0px;
    }

    to {
        left: 150px;
    }
}

.navbar-container button {
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    color: rgba(255, 255, 255, 1);
    margin: 24px 200px 24px 0px;
    cursor: pointer;
    position: relative;
    animation: move-button 3s ease-in-out 1s infinite alternate;
}

.hamburger-menu {
    display: none;
}

/* Navbar Section End */

/* Banner Section Start */

.banner-container {
    background-image: url(./assets/hero-bg.png);
    max-width: 1600px;
    max-height: 760px;
    padding-bottom: 113px;
}

.new {
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    height: 38px;
    margin-left: 877px;
    margin-top: 113PX;
    padding: 8px 16px;
    border: none;
    border-radius: 1000PX;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.banner-img-container {
    text-align: center;
}

.hero-circle {
    margin-top: 100px;
    position: relative;
}

.img-microphone {
    position: absolute;
    margin-left: -230px;
    margin-top: 175px;
}

.banner-techwave {
    text-align: center;
    margin-top: 40px;
    
}

.banner-techwave h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 4.56rem;
}

.banner-techwave p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.18rem;
    margin: 8px 0px 24px 0px;
}

.banner-button-1 {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    margin-right: 8px;
    cursor: pointer;
}

.banner-button-2 {
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10000px;
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
}

/* Banner Section End */

/* About Section Start */

.about-container {
    padding: 50px 200px 120px 200px;
    background-color: rgba(26, 11, 46, 1);
}

.about-header-container {
    text-align: center;
}

.about-header {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin-bottom: 16px;
}

.about-text {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 79px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 1);
}

.about-cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.about-card h2 {
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.62rem;
    margin-bottom: 16px;
}

.about-card p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.25rem;
}

/* About Section End */

/* Responsive Section Start */

@media screen and (max-width: 576px) {
    /* Navbar Section Start */

    .navbar-container h1 {
        margin-left: 0px;
        padding: 10px 0px 10px 20px;
    }

    .navbar-container h1 img {
        max-width: 200px;
        max-height: 50px;
    }

    .navbar-container ul,
    .navbar-container button {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding: 18px 18px 18px 0px;
    }

    /* Navbar Section End */

    /* Banner Section Start */

    .banner-container {
    padding-bottom: 40px;
}

    .new {
    width: 70px;
    height: 35px;
    margin-left: 240px;
    margin-top: 190PX;
    padding: 8px 16px;
}

    .hero-circle {
        max-width: 188px;
        max-height: 188px;
        margin-top: 180px;
    }

    .img-microphone {
        max-width: 80px;
        max-height: 80px;
        margin-left: -120px;
        margin-top: 240px;
    }

    .banner-techwave p {
        width: 400px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 24px;
    }

    /* Banner Section End */

    /* About Section Start */

    .about-container {
        padding: 40px 20px 0px 20px;
    }

    .about-text {
        padding-bottom: 39px;
    }

    .about-cards {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .about-card p {
        margin-bottom: 40px;
    }

    /* About Section End */


}

/* Responsive Section End */