* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.body-width {
    max-width: 1600px;
    margin: 0 auto;
}

/* Navbar Section Start */

.navbar-container {
    background-color: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar-container h1 {
    margin: 10px 0px 10px 200px;
}

.navbar-container ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar-container ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.navbar-container button {
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    color: rgba(255, 255, 255, 1);
    margin: 24px 200px 24px 0px;
    cursor: pointer;
    transition: transform 3s linear;
}

.navbar-container button:hover {
    transform: translateX(50px);
}

.hamburger-menu {
    display: none;
}

/* Navbar Section End */

/* Banner Section Start */

.banner-container {
    background-image: url(./assets/hero-bg.png);
    max-height: 760px;
    padding-bottom: 113px;
}

.new {
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 1.37rem;
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    height: 38px;
    margin-left: 877px;
    margin-top: 113PX;
    padding: 8px 16px;
    border: none;
    border-radius: 1000PX;
    position: absolute;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.banner-img-container {
    text-align: center;
}

.hero-circle {
    margin-top: 100px;
}

.img-microphone {
    position: absolute;
    margin-left: -230px;
    margin-top: 175px;
}

.banner-techwave {
    text-align: center;
    margin-top: 40px;
    
}

.banner-techwave h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 4.56rem;
}

.banner-techwave p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    line-height: 1.18rem;
    margin: 8px 0px 24px 0px;
}

.banner-button-1 {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    margin-right: 8px;
    cursor: pointer;
}

.banner-button-2 {
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18rem;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10000px;
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
}

/* Banner Section End */

/* Responsive Section Start */

@media screen and (max-width: 576px) {
    /* Navbar Section Start */

    .navbar-container h1 {
        margin-left: 0px;
        padding: 10px 0px 10px 20px;
    }

    .navbar-container h1 img {
        max-width: 200px;
        max-height: 50px;
    }

    .navbar-container ul,
    .navbar-container button {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding: 18px 18px 18px 0px;
    }

    /* Navbar Section End */


}

/* Responsive Section End */